DirectoryIndex index.php /index.php
IndexIgnore *
Options -Indexes
<Files .gitignore>
Order Allow,Deny
Deny From All
</Files>
<Files .htaccess>
Order Allow,Deny
Deny From All
</Files>
<Files .travis.yml>
Order Allow,Deny
Deny From All
</Files>
<Files LICENSE>
Order Allow,Deny
Deny From All
</Files>
<Files beta-version-install-instructions.txt>
Order Allow,Deny
Deny From All
</Files>
<Files CHANGES.md>
Order Allow,Deny
Deny From All
</Files>
<Files CODE_OF_CONDUCT.md>
Order Allow,Deny
Deny From All
</Files>
<Files CONTRIBUTING.md>
Order Allow,Deny
Deny From All
</Files>
<Files LICENSE.md>
Order Allow,Deny
Deny From All
</Files>
<Files changelog.txt>
Order Allow,Deny
Deny From All
</Files>
<Files dev-version-available-github-only.txt>
Order Allow,Deny
Deny From All
</Files>
<Files gpl-2.0.txt>
Order Allow,Deny
Deny From All
</Files>
<Files gpl-3.0.txt>
Order Allow,Deny
Deny From All
</Files>
<Files how-to-translate-this-plugin.txt>
Order Allow,Deny
Deny From All
</Files>
<Files humans.txt>
Order Allow,Deny
Deny From All
</Files>
<Files important-warning-read-me-asap.txt>
Order Allow,Deny
Deny From All
</Files>
<Files keybit.txt>
Order Allow,Deny
Deny From All
</Files>
<Files license.txt>
Order Allow,Deny
Deny From All
</Files>
<Files no-support-gived-on-forum.txt>
Order Allow,Deny
Deny From All
</Files>
<Files readme.txt>
Order Allow,Deny
Deny From All
</Files>